Repository antropia-studio/TheComponentGarden: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: npm run lint {staged_files}

types:
  run: npm run typecheck

fix: project configuration fixes to run example expo app
  .gitignore
  example/metro.config.js
  example/package.json
  package.json
  pnpm-workspace.yaml
Due: lint, types

feat: create welcome screen, include tailwind and base color system
  example/package.json
  example/src/App.tsx
  example/src/pages/Navigation.tsx
  example/src/pages/welcome/WelcomeScreen.tsx
  example/src/theme/color.ts
  example/src/theme/index.ts
  example/src/theme/tailwind.config.js
Due: lint, types

feat: style the example app
  example/src/App.tsx
  example/src/components/Drawer/DrawerLabel.tsx
  example/src/pages/Navigation.tsx
  example/src/pages/welcome/WelcomeScreen.tsx
  example/src/theme/color.ts
Due: lint, types

feat: create carousel screen with no effects yet
  biome.json
  example/app.json
  example/babel.config.js
  example/package.json
  example/src/pages/Navigation.tsx
  example/src/pages/carousel/Button.tsx
  example/src/pages/carousel/Card.tsx
  example/src/pages/carousel/CarouselScreen.tsx
  example/src/pages/welcome/WelcomeScreen.tsx
  example/src/theme/color.ts
  example/src/theme/tailwind.config.js
  example/tsconfig.json
  package.json
  tsconfig.build.json
  tsconfig.json
Due: lint, types

feat: create entering animations for screen
  .gitignore
  example/package.json
  example/src/lib/math.ts
  example/src/pages/carousel/Card.tsx
  example/src/pages/carousel/CarouselScreen.tsx
  tailwind.config.js
Due: lint, types

feat: create animations for carousel component
  example/package.json
  example/src/lib/math.ts
  example/src/pages/Navigation.tsx
  example/src/pages/carousel/AnimatedCard.tsx
  example/src/pages/carousel/CarouselScreen.tsx
  example/src/pages/carousel/Header.tsx
  example/src/pages/carousel/cards.ts
  example/tailwind.config.js
Due: lint, types

feat: make card carousel its own package
  .gitignore
  example/metro.config.js
  example/package.json
  example/src/pages/carousel/CarouselScreen.tsx
  example/src/pages/carousel/cards.ts
  lefthook.yml
  lib/babel.config.js
  lib/package.json
  lib/src/index.ts
  lib/src/math.ts
  package.json
  packages/card-carousel/babel.config.js
  packages/card-carousel/package.json
  packages/card-carousel/src/AnimatedCard.tsx
  packages/card-carousel/src/Card.tsx
  packages/card-carousel/src/CardCarousel.tsx
  packages/card-carousel/src/index.ts
  pnpm-workspace.yaml
  tsconfig.json
Due: lint, types

feat: add additional configuration to card carousel
  biome.json
  example/src/pages/carousel/CarouselScreen.tsx
  lib/src/math.ts
  packages/card-carousel/src/AnimatedCard.tsx
  packages/card-carousel/src/CardCarousel.tsx
Due: lint, types

refactor(carousel): improve modularity
  biome.json
  example/metro.config.js
  example/package.json
  example/src/pages/carousel/Button.tsx
  example/src/pages/carousel/CarouselScreen.tsx
  example/src/pages/carousel/Header.tsx
  example/src/pages/carousel/SelectedCard.tsx
  example/src/pages/carousel/animation.ts
  example/tsconfig.json
  lib/src/math.ts
  packages/card-carousel/src/AnimatedItem.tsx
  packages/card-carousel/src/Card.tsx
  packages/card-carousel/src/CardCarousel.tsx
  tsconfig.json
Due: lint, types

fix: fix positioning jump and move required props to AnimatedItem
  example/src/pages/carousel/CarouselScreen.tsx
  packages/card-carousel/src/AnimatedItem.tsx
  packages/card-carousel/src/CardCarousel.tsx
Due: lint

feat: add custom views to example
  example/src/pages/carousel/Button.tsx
  example/src/pages/carousel/CarouselScreen.tsx
  example/src/pages/carousel/SelectedEmoji.tsx
Due: lint

docs: write README
  README.md
  docs/tcg-video.gif
Due: none

docs: improve README
  README.md
  docs/header.png
  docs/tcg-video.gif
Due: none

docs: add social links
  README.md
Due: none

docs: minor improvements to README
  README.md
Due: none

docs: typo
  README.md
Due: none

feat(card-carousel): replace CardCarousel with improved CardDeck component
  example/src/pages/Navigation.tsx
  example/src/pages/carousel/DeckScreen.tsx
  lib/src/math.ts
  packages/card-carousel/src/AnimatedItem.tsx
  packages/card-carousel/src/CardCarousel.tsx
  packages/card-carousel/src/CardDeck.tsx
  packages/card-carousel/src/geometry.ts
  packages/card-carousel/src/index.ts
  packages/card-carousel/src/useCardDeckGesture.ts
Due: lint, types

fix: small angle fix
  packages/card-carousel/src/AnimatedItem.tsx
  packages/card-carousel/src/geometry.ts
Due: lint, types

feat: create new recording-wave package, still empty
  package.json
  packages/card-carousel/src/AnimatedItem.tsx
  packages/recording-wave/babel.config.js
  packages/recording-wave/package.json
  packages/recording-wave/src/index.ts
Due: lint, types

build: update deps
  lib/package.json
  package.json
  packages/card-carousel/package.json
  packages/recording-wave/package.json
Due: none

refactor: replace the term carousel by deck in all places
  biome.json
  example/metro.config.js
  example/src/pages/Navigation.tsx
  example/src/pages/deck/Button.tsx
  example/src/pages/deck/DeckScreen.tsx
  example/src/pages/deck/Header.tsx
  example/src/pages/deck/SelectedCard.tsx
  example/src/pages/deck/SelectedEmoji.tsx
  example/src/pages/deck/animation.ts
  example/src/pages/deck/cards.ts
  example/src/pages/recording-wave/RecordingWaveScreen.tsx
  packages/card-deck/babel.config.js
  packages/card-deck/package.json
  packages/card-deck/src/AnimatedItem.tsx
  packages/card-deck/src/Card.tsx
  packages/card-deck/src/CardDeck.tsx
  packages/card-deck/src/geometry.ts
  packages/card-deck/src/index.ts
  packages/card-deck/src/useCardDeckGesture.ts
  packages/recording-wave/package.json
  packages/recording-wave/src/RecordingWave.tsx
Due: lint, types

fix: fix linting versioning and fix linting errors coming with new version
  biome.json
  example/src/components/Drawer/DrawerLabel.tsx
  example/src/pages/Navigation.tsx
  example/src/pages/deck/Button.tsx
  example/src/pages/deck/DeckScreen.tsx
  example/src/pages/deck/Header.tsx
  example/src/pages/deck/SelectedCard.tsx
  example/src/pages/deck/SelectedEmoji.tsx
  example/src/pages/welcome/WelcomeScreen.tsx
  package.json
  packages/card-deck/src/Card.tsx
  packages/card-deck/src/CardDeck.tsx
Due: lint

fix: fix react versioning for all of it to work back again
  example/package.json
  package.json
  packages/card-deck/package.json
  packages/recording-wave/package.json
Due: none

build: fix project dependencies and config to make recording wave work
  example/package.json
  example/src/pages/Navigation.tsx
  example/src/pages/recording-wave/RecordingWaveScreen.tsx
  package.json
  packages/card-deck/package.json
  packages/recording-wave/package.json
  packages/recording-wave/src/RecordingWave.tsx
  packages/recording-wave/src/index.ts
  packages/recording-wave/src/wave.svg
  pnpm-workspace.yaml
Due: lint, types

feat: implement wave with skia
  example/package.json
  lib/src/array.ts
  lib/src/index.ts
  lib/src/math.ts
  package.json
  packages/card-deck/package.json
  packages/recording-wave/package.json
  packages/recording-wave/src/RecordingWave.tsx
  packages/recording-wave/src/RecordingWaveSvg.tsx
  packages/recording-wave/src/wave.svg
Due: lint, types

feat: connect real audio recording with new component
  example/app.json
  example/metro.config.js
  example/package.json
  example/src/pages/recording-wave/RecordingWaveScreen.tsx
  example/src/pages/recording-wave/useRecording.ts
  package.json
  packages/recording-wave/src/RecordingWave.tsx
Due: lint, types

feat: tweak animation settings
  example/src/pages/recording-wave/useRecording.ts
  packages/recording-wave/src/RecordingWave.tsx
Due: lint, types

feat: add start/stop button to recording wave
  example/app.json
  example/metro.config.js
  example/src/pages/recording-wave/RecordingWaveScreen.tsx
  packages/recording-wave/package.json
  packages/recording-wave/src/RecordingWave.tsx
  packages/recording-wave/src/StartStopButton.tsx
Due: lint, types

feat: update README to include recording wave
  README.md
  docs/recording-wave.gif
Due: none

fix: update readme to limit video size and include tiktok link
  README.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
